<footer class="text-white d-sm-flex justify-content-between align-items-center">
    <p class="mb-sm-0">COPYRIGHT © 2024 JUTNOKE ALL RIGHTS RESERVED.</p>
    <div class="copyright_list">
        <a class="text-white" href="https://noke.jutretail.com.tw/terms">會員權益服務約定條款</a>
        <span> ｜ </span>
        <a class="text-white" href="https://noke.jutretail.com.tw/privacy-policy">隱私權政策</a>
    </div>
</footer>