.winning_number {
    background-color: #E9DCCB;
    border-radius:4px ;
}
.jut_point{
    width: 200px;
    max-width: 100%;
    @media (min-width: 992px) {
        width: 288px;
    }
}
.jut_point_outline:focus {
    outline: none;
}

.exchange_btn {
    border-color: #E9DCCB;
    padding: 4px 12px;
    border-radius: 4px;
}
.exchangeJutPoint {
    width: 100px;
}
.lotteryNum_group {
    min-height: 96px;
}

@-webkit-keyframes shakeX {
    0%,to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    10%,30%,50%,70%,90% {
        -webkit-transform: translate3d(-10px,0,0);
        transform: translate3d(-10px,0,0)
    }

    20%,40%,60%,80% {
        -webkit-transform: translate3d(10px,0,0);
        transform: translate3d(10px,0,0)
    }
}

@keyframes shakeX {
    0%,to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    10%,30%,50%,70%,90% {
        -webkit-transform: translate3d(-10px,0,0);
        transform: translate3d(-10px,0,0)
    }

    20%,40%,60%,80% {
        -webkit-transform: translate3d(10px,0,0);
        transform: translate3d(10px,0,0)
    }
}

.animate_shakeX {
    -webkit-animation-name: shakeX;
    animation-name: shakeX;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}
