.index-title {
  font-size: 100px;
}

.img_spring_couplets {
  width: 124px;
}

.activity_img {
  width: 640px;
  @media (min-width: 475px) {
    width: 100%;
    max-width: 475px;
    max-height: 426px;
    object-fit: contain;
  }
  @media (min-width: 640px) {
    max-width: 720px;
  }
  @media (min-width: 992px) {
    max-width: 540px;
    max-height: 262px;
  }
}

.title {
  font-size: 64px;
  @media (max-width: 767px) {
    font-size: 48px;
  }
}