.login_group {
    height: auto;
    @media (min-width: 475px) {
        max-width: 450px;
    }
}

.password_group {
    position: relative;
    span {
        position: absolute;
        cursor: pointer;
        right: 8px;
        top: 10px;
    }
    a {
        text-decoration: none;
    }
}

.alert_phone, .alert_pwd {
    color: red;
}